@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&family=Rowdies:wght@300;400&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

.vermelho{
    color: #B50208;
}

.alinhamento {
    text-align: justify;
    font-size: 20px;
    width: 93%;
}

.titulos_grandes {
    text-align: center;
    font-size: 40px;
}

header {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

strong {
    color: #E8020A;
}

#logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -27px;
    margin-left: 3%;
}

#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;
    text-decoration: none;
}

li {
    float: left;
    padding: 30 5 20 10;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

a {
    list-style: none;
    text-decoration: none;
    color: #B50208;
}

li:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

#fundo_vermelho{
    background: rgba(232, 2, 10, 0.85);
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#retangulo_branco{
    width: 82%;
    height: 67%;
    left: 9%;
    top: 22%;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

#sintomas{
    background-color: rgba(232, 2, 10, 0.85);
    color: #FFFFFF;
    width: 98%;
    margin-top: 80px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#prevencao{
    background-color: rgba(232, 2, 10, 0.85);
    color: white;
    width: 98%;
    margin-top: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#titulo {
    color: #B50208;
    padding-top: 3%;
    font-size: 110px;
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    position: relative;
}

#video{
    width: 93%;
    height: 32%;
    position: relative;
    left: 8%;
    top: -25%;
    box-shadow: 6px 6px 4px rgba(232, 2, 10, 0.85);
    margin-top: 80px;
}

#subtitulo {
    color: #B50208;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid  #B50208;
    font-size: 50px;
}

#estatisticas{
    margin-top: 60px;
}

.icone {
    width: 180px;
}
section {
    padding: 20px;
    float: left;
}

.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}
.dois {
    width: 40%;
}
.quatro {
    width: 15%;
}
.tres {
    width: 29%;
    padding: 0 2%;
    height: 15%;
}

.justificado {
    text-align: justify;
    font-size: 20px;
}
.centralizado {
    font-size: 25px;
    text-align: center;
}

h4 {
    font-size: 18px;
}
footer {
    background: rgba(232, 2, 10, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: right;
    width: 100%;
    height: 20%;
    color: white;  
}

#linha1 {
    border: 5px solid #FA371A;
    transform: rotate(90deg);
    width: 35px;
    margin-left: -45px;
    margin-top: -46px;
}

#linha2 {
    border: 5px solid #FA371A;
    transform: rotate(90deg);
    width: 35px;
    margin-left: -45px;
    margin-top: -46px;
}

#linha3 {
    border: 5px solid #FA371A;
    transform: rotate(90deg);
    width: 35px;
    margin-left: -45px;
    margin-top: -46px;
}

.sobre {
    background-color:  rgba(232, 2, 10, 0.85);
    ;
    color: #FFFFFF;
    width: 98%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 90px;
}

dialog::backdrop{
    background-color: rgba(0 0 0 / .5);
}

dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 85%;
}

#texto-sobre {
    width: 30%;
    text-align: justify;
    display: inline-block;
    margin-left: 20px
}

#abrir {
    width: 700px;
    height: 100px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 0;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
}

#abrir:hover {
    border: #e74c3c;
    box-shadow: 0 0 60px 60px #B50208 inset;    
    color: #FFFFFF;
}

#fechar {
    position: relative;
    left: 30px;
    width: 100px;
    height: 50px;
    border: 0;
    background-color: rgba(232, 2, 10);
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

#fechar:hover {
    border: #e74c3c;
    box-shadow: 0 0 40px 40px #B50208 inset;    
    color: #FFFFFF;
}

#foto1 {
    position: relative;
    width: 330px;
    height: 450px;
    margin-left: 40px;
    display: inline-block;
    align-items: center;
    box-shadow: 3px 3px 4px rgba(232, 2, 10, 0.85);
}

#foto2 {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;
    align-items: center;
    box-shadow: 3px 3px 4px rgba(232, 2, 10, 0.85);
}

#foto3 {
    position: relative;
    width: 230px;
    height: 450px;
    display: inline-block;
    align-items: center;
    box-shadow: 3px 3px 4px rgba(232, 2, 10, 0.85);
}

@media all and (max-width: 768px){
#menu {
    visibility: hidden;
   } 
.coluna, .dois, .tres, .quatro {
    display: block;   
    width: 80%;
    padding: 0;
    margin: 10px auto;
    float: none;
}
#logodiv {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0px;
}

#titulo{
    text-align: center;
    padding-top: 10%;
    font-size: 70px;
    line-height: 0.6;
}

#subtitulo {
    font-size: 30px;
}

#logo { 
    margin-left: 0px;
    transform: translateX(-50%);
}

#video{
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
}
   
footer {
    height: 60%;
    width: 100%;
    position: relative;
}

#estatisticas {
    position: relative;
    left: 190px;
}

#retangulo_branco{
    width: 70%;
    height: 54%;
    left: 15%;
    top: 22%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    position: relative;   
}

#foto1 {
    position: relative;
    margin-left: 0px;
    margin-bottom: 30px;
}

#foto2 {
    position: relative;
    margin-left: 20px;
    margin-bottom: 30px;

}

#foto3 {
    position: relative;
    margin-left: 30px;
    margin-bottom: 30px;

}

#texto-sobre{
    margin-left: 250px;
    width: 60%;
    display: block;
    text-align: justify;
}

li {
    font-size: 20px;



}

}
   
body, html {
    overflow-x: hidden !important;
    }
    @media (max-width: 786px){
    body, html {
    overflow-x: hidden!important;
    }
    }